/* @import url(//db.onlinewebfonts.com/c/3135c98efb051f346203c2f2ed708638?family=Engravers+MT); */
@font-face {font-family: "Engravers MT";
    src: url("fonts/3135c98efb051f346203c2f2ed708638.eot"); /* IE9*/
    src: url("fonts/3135c98efb051f346203c2f2ed708638.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/3135c98efb051f346203c2f2ed708638.woff2") format("woff2"), /* chrome、firefox */
    url("fonts/3135c98efb051f346203c2f2ed708638.woff") format("woff"), /* chrome、firefox */
    url("fonts/3135c98efb051f346203c2f2ed708638.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("fonts/3135c98efb051f346203c2f2ed708638.svg#Engravers MT") format("svg"); /* iOS 4.1- */
}

.museStaffPropertySection {
    /* width:100%;
    height:100%; */
    /* align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    display: flex; */
    display: inline;
}

.clefDisplay {
    position: absolute;
    width:60px;
    height:200px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    display: flex;
    margin-top: 50px;

}

.clefImage {
    position: absolute;
    width: 100%;
    height: 100%;
}

.timeSignatureDisplay {
    margin-top: 100px;
    position: absolute;
    margin-left: 70px;
}

.timeSignatureDisplay p {
    font-family: "Engravers MT";
    font-size: 60px;
    margin-top: -10px;
    margin-bottom: -20px;
    text-align: center;
}

.staffPropertyLinesSection {
    margin-right: 20px;
    width: 100px;
    height: 100px;
    border-collapse: collapse;
    display: inline-table;
}

.staffPropertyLinesSection tr .museMeasureLine {
    width: 120%;
    border-top: 1px solid black;
    position: absolute;
    left: 0;
}

.staffPropertyLinesSection tr {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 20px;
    position: relative;
}

.staffPropertyLinesSection td {
    width: 100%;
    height: 100%;
}

.noteSelectorDisplay{
    margin-bottom: 20px;
}

.noteSelectorHeader{
    margin: 0px;
    margin-left: 100px;
}

.noteSelector {
    display: flex;
    width: 300px;
    height: 50px;
    border: 2px solid #EFDAFF;
    margin-left: 100px;
    /* margin-top: 30px; */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.noteSelector .museStaffNote:hover {
    /* background: rgba(201, 173, 173, 0.301); */
    filter: brightness(0.9) invert(.7) sepia(.5) hue-rotate(100deg) saturate(200%);
}

.noteSelector .museStaffNoteImage {
    max-width: 100%;
    max-height: 100%;
    margin-top: 0px;
}

.noteSelectorHighlighted {
    background: rgba(201, 173, 173, 0.301);
}