.museMeasure {
    width: 1000px;
    height: 1000px;
    border-collapse: collapse;
}

.museMeasure tr .museStaffLine {
    width: 100%;
    border-top: 1px solid black;
    position: absolute;
    left: 0;
}

.museMeasure tr {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 20px;
    position: relative;
}

.museMeasure td {
    width: 100%;
    height: 100%;
}